body{
    background-color:aliceblue;
}

h1 {
    align-items: center;
    text-align: center;
}

.login-div{
    margin:100px auto;
    width: 350px;
    background-color:white;
    padding: 60px;
}

.logo{
   background-color: aliceblue;
   width: 150px;
   height:150px;
   border-radius: 50%;
   margin:0 auto;
   margin-bottom: 10px;
}

.logo img{
    width: 100%;
}

.title{
    text-align:center;
    color:black;
    font-weight:bold;
    font-size:35px;
}

.form {
    width: 100%;
    margin-top: 30px;
    align-content: center;
    text-align: center;
}

form{
    display:inline-block;
}

.form input {
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: none;
    background: none;
    outline: none;
    display: block;
    border-radius: 30px;
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 15px;
    margin: 10px 0;
    text-align: center;
    }

button.submit{
    width:100%;
    padding: 12px 10px;
    border: none;
    border-radius:30px;
    font-size: 30px;
    background-color: aliceblue;
    color:black;
    margin-bottom: 5px;
    transition-duration: 0.5s;
}

.submit:hover{
    background-color:lightgray;
    outline-color: black;
    outline:auto;
    
}


h3 {
    text-align: center;
    font-display: block;
    background-color: whitesmoke;
    border-bottom-style:double;
}

p{
    font-family:'Times New Roman', Times, serif;
}

ul{
    list-style-position:inside;
    list-style-type:square;
}


a {
    align-content:center;
    text-align:center;
    background-color: whitesmoke;
    text-decoration: solid;
    color: black;
    border-color: black;
    padding-right:50px;
    display:inline-flex;
    font-weight:bold;
}

.navbar{
    overflow:hidden;
    background-color:aliceblue;
    color: black;
}

.navbar a {
        float: left;
        font-size: 16px;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

.dropdown{
    float:left;
    overflow:hidden;
}

.dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; 
        margin: 0;
        text-align:right;
        font-weight: bold;
}

.navbar a:hover, .dropdown:hover .dropbtn{
    background-color:lightgray;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
}

.dropdown-content a:hover{
    background-color: lightgray;
}

.dropdown:hover .dropdown-content {
    display: block;
}



